* {padding:0; margin:0;}

#container{
	position: relative;
	width:450px;
	margin:20px auto;
	text-align: center;
}
#container table{
	background-color: #a89574;
	border-radius: 10px;
}
#container td{
	width:100px;
	height:100px;
	margin:10px;
	background-color: #c9beab;
}
#container button{
	position: relative;
	width:200px;
	height:50px;
	margin-top:20px;
	font-size: 2.3em;
	font-weight: bold;
	background-color:#ecdcc1;
	border-radius: 20px;
	-webkit-box-shadow: 0 3px 1px #726958;
	-moz-box-shadow:  0 3px 1px #726958;
	box-shadow:  0 3px 1px #726958;
	outline: none;
}
#container button:hover{
	top:3px;
	-webkit-box-shadow: none;
	-moz-box-shadow:  none;
	box-shadow:  none;
}
#container div{
	position: absolute;
	width:100px;
	height:100px;
	z-index: 10;
	font-size:4.5em;
	font-family: Helvetica;
	font-weight: bold;
	text-align: center;
	line-height: 100px;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}
#container div.c1{
	background-color:#ecdcc1;
	color:#726958;
}
#container div.c2{
	background-color:#edc697;
	color: #b37b3a;
}
#container div.c3{
	background-color: #d4b393;
	color:#a96420;
}
#container div.c4{
	background-color: #d9862c;
	color:#f1d7bc;
}
#container div.c5{
	background-color: #c76a06;
	color:#faf5f0;
}
#container div.c6{
	background-color: #e45d1b;
	color:#fcf5f1;
}
#container div.c7{
	background-color: #e45d1b;
	color:#fcf5f1;
	font-size: 3.5em;
}
#container div.c8{
	background-color: #ead351;
	color:#f0eddd;
	font-size: 3.5em;
}
#container div.c9{
	background-color: #88781d;
	color:#ece5c1;
	font-size: 3.5em;
}
#container div.c10{
	background-color: #f8f65a;
	color:#7e7e56;
	font-size: 2.5em;
}
#container div.c11{
	background-color: #3d3d29;
	color:#f9f8b9;
	font-size: 2.5em;
}
#mask{
	display: none;
	position: fixed;
	left:0;
	top:0;
	right:0;
	bottom: 0;
	background-color: #000;
	opacity: 0;
	z-index: 100;
}
#mask button{
	margin-top:200px;
}












